---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const {
  title = "Wikimint",
  description = "",
  image = "/assets/images/business-motivation-marketing-strategy-personal-finance-strategy.webp", // fallback image
  noindex = false, // default false if not given in md
} = Astro.props;


const url = Astro.site
  ? new URL(Astro.url.pathname.replace(/\.html$/, ""), Astro.site).toString()
  : undefined;

  const truncate = (str: string, len: number) =>
  str.length > len ? str.slice(0, len).trim() : str;

  const seoTitle = truncate(title, 60);
const seoDescription = truncate(description, 160);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{seoTitle}</title>
    <meta name="description" content={seoDescription} />
    {url && <link rel="canonical" href={url} />}


      {noindex 
      ? <meta name="robots" content="noindex, nofollow" /> 
      : <meta name="robots" content="index, follow" />
    }
    

<!-- Open Graph -->
<meta property="og:type" content="article" />
<meta property="og:site_name" content="Wikimint" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{url && <meta property="og:url" content={url} />}
<meta property="og:image" content={image} />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />

<meta content="#3079ED" name="theme-color"/>
<meta content="#3079ED" name="msapplication-navbutton-color"/>

<slot name="head" />
<meta name="generator" content="Ghost" />

{import.meta.env.PROD && (
  <!-- Google Tag Manager -->
  <script is:inline>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
   })(window,document,'script','dataLayer','GTM-M5WJVVQ');
   </script>
   <!-- End Google Tag Manager -->
   <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7784071102690039"
     crossorigin="anonymous"></script>

     <script async type="application/javascript"
        src="https://news.google.com/swg/js/v1/swg-basic.js"></script>
<script>
  (self.SWG_BASIC = self.SWG_BASIC || []).push( basicSubscriptions => {
    basicSubscriptions.init({
      type: "NewsArticle",
      isPartOfType: ["Product"],
      isPartOfProductId: "CAowm42kDA:openaccess",
      clientOptions: { theme: "light", lang: "en" },
    });
  });
</script>//
   </>
  )}


<link rel="manifest" href="/manifest.webmanifest">
<script>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/service-worker.js")
      .catch(err => console.error("SW registration failed:", err));
  }
</script>
<meta name="yandex-verification" content="2191ae974b0b65dc" />

  </head>
  <body>
    <Header />
    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
      <slot />  <!-- page content will render here -->
    </main>
    <Footer />
  </body>
</html>
