---
import BaseLayout from "./BaseLayout.astro";
import "../styles/global.css";
import Sidebar from "../components/Sidebar.astro";

const { frontmatter, url } = Astro.props;
const {
  title, description, date, updatedDate, coverImage, image, canonical,
  tags, toc, learnPoints, relatedResources, faq, author
} = frontmatter;
---
<BaseLayout title={`${title}`} description={description}>
  <head>
    <link rel="canonical" href={canonical ?? url?.href} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {image && <meta property="og:image" content={image} />}
    <meta name="twitter:card" content="summary_large_image" />
  </head>

  <div class="grid grid-cols-1 md:grid-cols-12 gap-6 md:gap-10 max-w-7xl mx-auto">
    <main class="col-span-12 md:col-span-7">
    <article class="prose lg:prose-xl max-w-none">
        <slot /> {/* Markdown content */}
      </article>
    </main>
    <aside class="col-span-12 md:col-span-5">
        <Sidebar/>
    </aside>
  </div>
</BaseLayout>
